$def with (timedate,timing,temprature,huminity,baro,wind,cur_date,cur_timing)


<html>
<head><title>Test page</title>
</head>
<body>
<b><i>Πληροφορίες Θερμοκρασίας:</i></b><br><hr>
<em><i><u>Τρέχουσα Ημερομηνία και ώρα $cur_date $cur_timing</u></i><br><br>
Τελευταία Ενημέρωση από μετεωρολογικό σταθμό:<br></em>
$if timedate:
	
	<em>Ημερομηνία:$timedate<br>
		Ώρα:$timing<br>
		Θερμοκρασία:$temprature<br>
		Υγρασία:$huminity<br>
		Βαρομετρικό:$baro<br>
		Άνεμοι:$wind</em>
$else:
	<em>HELLO!!!!!!<br>
	No news about weather!</em>

	



	
</body>
</html>
